.service-box{
    border: 1px solid #e5e5e5;
    font-size: 14px;
    padding: 40px 35px 45px;
    position: relative;
    z-index: 1;
    margin-top: 30px;
    text-align:center;
    transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
    i {
      font-size: 44px;
      color: #3a9ac8;
      margin-bottom: 25px;
      transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
    }
    h3 {
      font-size: 22px;
      letter-spacing: 0.02em;
      margin-bottom: 15px;
      transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
      color: $heading-light-dark-color;
    }
    &:after {
      content: '';
      background: $bg-secondary-color;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      position: absolute;
      z-index: -1;
      transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
    }
    &:hover{
      color:#fff;
      transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
      h3 {
        color:#fff;
        transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
      }
      &:after {
        height: 100%;
        transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
      }
      i {
        color:#fff;
      }
    }  
}